<p>
  Bonjour{% if pouvoir.prenom %} {{ pouvoir.prenom }}{% endif %}{% if pouvoir.nom %} {{ pouvoir.nom }}{% endif %},
</p>
<p>
  Le scrutin intitulé « <strong>{{ pouvoir.scrutin.title }}</strong> » est annoncé.
</p>
{% if pouvoir.collectif %}
<p>
  Vous êtes invité à y participer en tant que {{ pouvoir.collectif }}.
</p>
{% endif %}
<p>
  Le scrutin sera <strong>ouvert</strong> ce lundi prochain <strong>à 8h</strong>.
  <br/>Le scrutin sera <strong>clos</strong> ce vendredi prochain <strong>à 20h</strong>.
</p>
<p>
  Pour voter, visitez simplement le site suivant et suivez les instructions :
  <br/><a rel="noreferrer" href="{{ request.base_url }}{{ pouvoir.uri }}">
    {{ request.base_url }}{{ pouvoir.uri }}
  </a>

</p>
{% if pouvoir.scrutin.pondere %}
  <p>
    Étant donné les conditions du scrutin, votre vote sera pondéré de {{ pouvoir.ponderation }} voix.
  </p>
{% endif %}

<p>
  À l'issue de votre participation, un courriel de confirmation vous sera renvoyé.
</p>
<p>
  Vous pourrez à tout moment et jusqu'à la fin du scrutin retrouver votre contribution
  et éventuellement la corriger à cette même adresse.
</p>
<p>
  Merci pour votre participation.
  <br/>L'équipe organisatrice
</p>
<hr/>
<p>
  Ce courriel a été envoyé automatiquement ; merci de ne pas y répondre.
  <br/>Pour plus d'informations :
  <a rel="noreferrer" href="{{ request.base_url }}">
    {{ request.base_url }}
  </a>
</p>
<p>
  En cas de difficultés : <a href="mailto:{{ settings.assistance }}">contactez l'assistance</a>.
</p>
