###########################################################
#                                                         #
#  Edit the following configuration to suits your needs.  #
#                                                         #
###########################################################

###############################################################################
# MAINS SETTINGS
###############################################################################

# Environment to use within the application.
#
# The environment is used to load the proper settings for your application
# instance. There is two ways for defining it, with the following precedence:
#  - DJANGO_SETTINGS_MODULE: the Python path to the settings module to use. It
#      allows you to define and use your own settings module. Use it with care!
#      Note: the module name will be used as the environment.
#  - ENV: the environment to use, which is one of 'production' or 'development'.
#
# Default is the 'production' environment.
#ENV=production
#ENV=development

# The secret key used to provide cryptographic signing.
#
# It should be set to a unique, unpredictable value. On a GNU/Linux system, you
# could generate a new one with:
#
#     $ head -c50 /dev/urandom | base64
#
# /!\ Required in production.
#DJANGO_SECRET_KEY=CHANGEME!!!

# A coma-separated string representing the host/domain names that this
# application instance can serve.
#
# /!\ Required in production.
#DJANGO_ALLOWED_HOSTS=example.org,

###############################################################################
# DATABASE SETTINGS
###############################################################################

# Database configuration, as an URI.
#
# In production, the recommended database backend for better performances is
# PostgreSQL - or MySQL if you prefer.
#
# Default is a SQLite database in development only.
#
# /!\ Required in production.
#DJANGO_DATABASE_URL=postgres://user:password@127.0.0.1:5432/gvot
#DJANGO_DATABASE_URL=mysql://user:password@127.0.0.1:3306/gvot

###############################################################################
# EMAILS SETTINGS
###############################################################################

# Email configuration for sending messages, as an URI.
#
# In production, you should either use a local SMTP server or a relay one. The
# URI will be in that case of the form:
#
#     PROTOCOL://[USER:PASSWORD@]HOST[:PORT]
#
# PROTOCOL can be smtp, smtp+ssl or smtp+tls. Note that special characters
# in USER and PASSWORD - e.g. @ - must be escaped. It can be achieve with:
#
#     $ python3 -c 'from urllib.parse import quote as q;print(q("USER")+":"+q("PASSWORD"))'
#
# Default is the local SMTP server in production and the console in development.
#DJANGO_EMAIL_URL=smtp://localhost:25

# Default email address to use for various automated correspondence.
#
# /!\ Required in production.
#DEFAULT_FROM_EMAIL=webmaster@example.org

# A comma separated list of all the people who get production error
# notifications, following rfc2822 format
#ADMINS='Cliss XXI <francois.poulain@cliss21.org>'

###############################################################################
# MISC SETTINGS
###############################################################################

# URL prefix on which the application is served.
#
# This is used to generate the static and media URLs, but also links to the
# application which require an absolute URL.
#
# Default is '/', e.g. at the domain root.
#APP_LOCATION=/

# Base directory of the app instance, where the local and var folders are
# located.
#
# Default is the current directory.
#BASE_DIR=

# Turn on/off debug mode.
#
# Note that it's always disabled in production.
#DJANGO_DEBUG=off
#DJANGO_DEBUG_TOOLBAR=on
