{% extends "modeladmin/create.html" %}
{% load static %}

{% block titletag %}Démarrer un mailing (1/2){% endblock %}

{% block header %}
  {% include "wagtailadmin/shared/header.html" with title="Démarrer un mailing" icon="mail" subtitle=" Une page de confirmation vous sera soumise avant le démarrage effectif du mailing." %}
{% endblock %}

{% block form_action %}{% endblock %}

{% block form %}
  <ul class="objects">
    <li class="object required file_field">
      <div class="title-wrapper">
        <label for="id_destinataires">
          Modèle de courriel
        </label>
      </div>
      <div class="object-layout">
        <div class="object-layout_big-part">
          <fieldset>
            {% include "wagtailadmin/shared/field_as_li.html" with field=form.template show_label=False  %}
          </fieldset>
        </div>
      </div>
    </li><li class="object required file_field">
      <div class="title-wrapper">
        <label for="id_destinataires">
          Destinataires
        </label>
      </div>
      <div class="object-layout">
        <div class="object-layout_big-part">
          <fieldset>
            {% include "wagtailadmin/shared/field_as_li.html" with field=form.dests show_label=False  %}
          </fieldset>
        </div>
      </div>
    </li>
  </ul>
{% endblock %}

{% block form_actions %}
  <div class="dropdown dropup dropdown-button match-width">
    <button type="submit" class="button action-save button-longrunning" data-clicked-text="Poursuivre">
      <span class="icon icon-spinner"></span><em>Poursuivre</em>
    </button>
  </div>
{% endblock %}
