{% extends "./site_page.html" %}
{% load wagtailcore_tags wagtailimages_tags tapeforms %}

{% block extra_head %}{{ block.super }}
  {{ form.media }}
{% endblock %}

{% block content %}
  <h1>{{ page.title }}</h1>
  {% if not page.ouvert and not page.vote_set.exists %}
    <div class="alert alert-secondary"><i class="fa fa-warning mr-2"></i>Ce scrutin n'est pas encore ouvert. Il est accessible à titre de test mais votre vote ne sera pas comptabilisé.</div>
  {% elif not page.ouvert and page.vote_set.exists %}
    <div class="alert alert-danger"><i class="fa fa-warning mr-2"></i>Ce scrutin est désormais fermé. Veuillez vous rapprochez des organisateurs en cas de problème.</div>
  {% elif page.ouvert and deja_vote %}
    <div class="alert alert-info"><i class="fa fa-lightbulb-o mr-2"></i>Il semble que vous ayez déjà voté. Vous pouvez contrôler votre vote et le corriger jusqu'à la fermeture du scrutin.</div>
  {% endif %}

  {% block inner_content %}
    <div class="py-2 py-md-5 lead">
      {{ page.introduction|richtext }}
    </div>

    {% if page.ouvert or not page.vote_set.exists %}
      {% block outer_form %}
        <form class="p-3" method="post">
          {% csrf_token %}
          {% block inner_form %}
            {% form form using="tapeforms/layouts/gvot.html" %}
          {% endblock %}
          <div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">{{ page.action }}</button>
          </div>
        </form>
      {% endblock %}
    {% endif %}
  {% endblock %}

  <div class="py-2 px-3">
    <h2 class="mt-5">Protection des données personnelles</h2>
    {{ page.prescription|richtext }}
  </div>
{% endblock %}
