{% load widget_tweaks %}
<!-- {{ field.label }} -->
<div class="form-group">
  {% with invalid=field.errors|yesno:"is-invalid," %}
    {% if not "hiddeninput" == field|widget_type %}
      <label for="{{ field.auto_id }}">
        {% if collapse and not invalid %}
          <a class="{{ label_class }} text-white" data-toggle="collapse" data-target=".collapse_{{ field.auto_id }}" role="button" aria-expanded="false" aria-controls="collapse_{{ field.auto_id }}">{{ field.label }} <i class="fa fa-caret-down collapse collapse_{{ field.auto_id }}"></i><i class="fa fa-caret-right collapse show collapse_{{ field.auto_id }}"></i></a>
        {% else %}
          <span class="{{ label_class }}">{{ field.label }}</span>
        {% endif %}
        {% if field.field.required and not no_required %}
          <small class="form-text {% if invalid %}text-danger{% else %}text-muted{% endif %}">
            <em><i class="fa fa-warning"></i> Requis</em>
          </small>
        {% endif %}
      </label>
    {% endif %}
    {% if collapse and not invalid %}
      <div class="collapse collapse_{{ field.auto_id }}">
    {% endif %}
    {% if "checkboxinput" == field|widget_type %}
      {% if invalid %}
        <div class="form-control {{ invalid }}" style="height:auto">
          <div class="form-group form-check" style="padding-left:0">
            {% render_field field class+="form-check-label" class+=invalid %}
            <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.help_text }}</label>
          </div>
        </div>
      {% else %}
        <div class="form-group form-check" style="padding-left:0">
          {% render_field field class+="form-check-label" class+=invalid %}
          <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.help_text }}</label>
        </div>
      {% endif %}
    {% elif field|widget_type == "checkboxselectmultiple" or field|widget_type ==  "radioselect" %}
      {% if invalid %}
        <div class="form-control {{ invalid }}" style="height:auto">
          {% render_field field class+=invalid %}
        </div>
      {% else %}
          {% render_field field class+=invalid %}
      {% endif %}
    {% elif "datetimeinput" == field|widget_type %}
      {% render_field field class+="form-control" class+=invalid placeholder=field.help_text type="datetime-local" %}
    {% elif "dateinput" == field|widget_type %}
      {% render_field field class+="form-control" class+=invalid placeholder=field.help_text type="date" %}
    {% elif "adresse" == field.html_name and "textarea" == field|widget_type %}
      {% render_field field class+="form-control" class+=invalid placeholder=field.help_text rows="3" %}
    {% elif "message" == field.html_name and "textarea" == field|widget_type %}
      {% render_field field class+="form-control" class+=invalid placeholder=field.help_text rows="3" %}
    {% elif field.help_text %}
      {% render_field field class+="form-control" class+=invalid placeholder=field.help_text %}
    {% else %}
      {% render_field field class+="form-control" class+=invalid %}
    {% endif %}
    {% if collapse and not invalid %}
      </div>
    {% endif %}
    {% for error in field.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
    {% endfor %}
  {% endwith %}
</div>

