{% extends "modeladmin/index.html" %}
{% load i18n modeladmin_tags %}

{% block css %}
    {{ block.super }}
    <style>
.inline-gvot {
  max-height: 6em;
  overflow-y: auto;
}
.inline-gvot dt:before {
  content: "";
  display: block;
}
.inline-gvot dt:after {
  content: " : ";
}
.inline-gvot dt, .inline-gvot dd {
  display: inline;
}
    </style>
{% endblock %}

{% block header_extra %}
    {% if user_can_create %}
        <div class="right">
          <div class="col">
            <div class="addbutton">
                {% include 'modeladmin/includes/button.html' with button=view.button_helper.add_button %}
             </div>
         </div>
          <div class="col">
            <div class="addbutton">
                {% include 'modeladmin/includes/button.html' with button=view.button_helper.import_button %}
             </div>
           </div>
           <div class="col">
            <div class="addbutton">
                {% include 'modeladmin/includes/button.html' with button=view.button_helper.mailing_button %}
             </div>
           </div>
         </div>
     {% endif %}
{% endblock %}
