{% load menu_tags %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">GvoT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top_menu" aria-controls="top_menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="top_menu">
      {% main_menu %}
      <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Rechercher" aria-label="Rechercher">
      </form>
    </div>
  </div>
</nav>

