{% load menu_tags static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="{% static '/img/logo.png' %}" style="margin: -2ex 0;" height="64" alt="Logo GvoT">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top_menu" aria-controls="top_menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="top_menu">
      {% main_menu %}
    </div>
  </div>
</nav>

